@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0;
  background: transparent; /* Optional: just make scrollbar invisible */
}

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

html,
body,
#__next {
  height: 100%;
}

body {
  overflow-x: hidden;
  color: black;
  font-size: 14px;
  user-select: none;
  touch-action: pan-y;
}

body,
.page {
  background-color: white;
  padding-top: var(--sat);
}

.page-container {
  @apply flex flex-col max-w-3xl h-full px-6 m-auto relative;

  padding-bottom: 0;
  padding-bottom: var(--sab);
  background-color: #fff;
}

.safe-padding-top {
  padding-top: 0;
  padding-top: var(--sat);
}

.safe-padding-bottom {
  padding-bottom: 0;
  padding-bottom: var(--sab);
}

.safe-bottom {
  bottom: 0;
  bottom: var(--sab);
}

[contenteditable] {
  user-select: text;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

input,
textarea {
  background-color: transparent;
  appearance: none;
}

button:focus {
  outline: none;
}

.smooth-scroll {
  -webkit-overflow-scrolling: touch;
}
